.btn-info {
    color: #FFFFFF;
    background-color: #611BBD;
    border-color: #130269;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
    color: #FFFFFF;
    background-color: #FF3900;
    border-color: #130269;
}

.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
    background-image: none;
}

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
    background-color: #611BBD;
    border-color: #130269;
}

.navbar {
    background-color: #15192a;
}

.container {
    background-color: #f7b563;
    opacity: .95;
    padding: 10px;
    margin-top: 20px;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #1a2d44;
}

.nav-link:hover {
    background-color: #ff3900;
}

.row {
    margin: 20px;
}

.nav-link > span {
    padding-left: 10px;
}

.nav-item {
    margin: 2px;
}

textarea.form-control {
    resize: vertical;
    min-height: 12em;
}
